<div class="row bg-image h-100 justify-content-center align-items-center">
  <div class="login-container pt-4 pb-4 text-center mat-elevation-z6  ">
    <img alt="Adventure Jar" src="/adventure-jar/assets/logo-red.png" />
    <br>
    <h5 class="mt-2">Adventure is waiting for you</h5>
    <button (click)="socialSignIn()" class="fb-color mt-3" color="primary" mat-raised-button>
      <img class="mr-2" width="20px" src="/adventure-jar/assets/flogo.png" />
      <span>Login with Facebook</span>
    </button>
    <br>
    <button (click)="guestSignIn()" class="mt-3" color="accent" mat-raised-button>
      <span>Login as Guest</span>
    </button>
  </div>
</div>
