<div class="row mt-5 fill">
    <div class="col-4 text-center">

    </div>
    <div class="mt-5 login-container col-4 pt-4 pb-4 text-center mat-elevation-z2">
        <img alt="Adventure Jar" src="../../../assets/logo-red.png"/>
        <br>
        <h5 class="mt-2">An Adventure is waiting for you</h5>
        <button (click)="socialSignIn()" class="fb-color mt-5" color="primary" mat-raised-button>
            <img class="mr-2" width="20px" src="../../../assets/flogo.png"/> 
            <span>Login with Facebook</span>
        </button>
    </div>
    <div class="col-4 text-center">

    </div>
</div>

